name: Rust MSRV

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.83.0"
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Run cargo check
        run: cargo check
